.inline {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 0;
	margin-top: auto;
}
.inline .read_more {
	margin-top: 0;
}
.details-title {
	color: #555;
}
.cardContainer {
	padding: 2em;
    box-shadow: 0 0 15px #d9d9d9;
    border-radius: 15px;
	background-color: #fff;
	height: 100%;
    display: flex;
    flex-direction: column;
}
.home .cardContainer, .home .colInner {
	padding: 0;
	box-shadow: none;
	border-radius: 0;
	background-color: #fff;
	height: auto;
    display: block;
}
.colInner {
	display: flex;
    flex-direction: column;
    height: 100%;
}
.cardContainer .inline {
	margin-top: auto;
}