.inline {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 0;
	margin-top: auto;
}
.inline .read_more {
	margin-top: 0;
}
.details-title {
	color: #555;
}
.cardContainer {
	padding: 2em;
    box-shadow: 0 0 15px #d9d9d9;
    border-radius: 15px;
	background-color: #fff;
	height: 100%;
    display: flex;
    flex-direction: column;
}
.home .cardContainer, .home .colInner {
	padding: 0;
	box-shadow: none;
	border-radius: 0;
	background-color: #fff;
	height: auto;
    display: block;
	display: flex;
    height: 100%;
}
.colInner {
	display: flex;
    flex-direction: column;
    height: 100%;
}
.cardContainer .inline {
	margin-top: auto;
}
.home .cards {
	height: 100%;
}
.sidebar .cards .col {
	flex: 0 0 100%;
	max-width: 100%;
	padding-bottom: 2em!important;
}
.sidebar .cards .col:last-of-type {
	padding-bottom: 0!important;
}

.news .col_inner {
	box-shadow: 0 0 15px #d9d9d9;
    border-radius: 15px;
    background-color: #fff;
}
.news .col, .cards .col {
	padding-bottom: 2em;
}
.row.cards {
	margin-right: -1rem;
	margin-left: -1rem;
}
.row.cards > .col {
	padding-right: 1rem;
	padding-left: 1rem;
}
p.display-medium-date-read:last-of-type {
	margin-bottom: 30px;
}