.form_container input, .form_container textarea {
	width: 100%;
	padding: 10px;
	font-size: 13px;
	font-family: inherit;
}
.form_container p, .form_container p ~ p {
	margin: 0;
}
.form_container ~ .wpcf7-submit {
	margin-top: 1rem;
	font-size: 16px;
}