.hero_title {
	text-align: center;
}
.hero_title h1 {
	background-color: rgba(0, 0, 0, .75);
	border-radius: 10px 10px 0 0;
	padding: 15px 25px 5px;
	color: #fff;
	display: inline-block;
    margin: 0;
	font-size: 20px;
	font-weight: bold;
}
.hero_feed {
	padding: 2em;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .75);
}

.home .bg_img {
	background-image: url(../img/placeholders/brant-county-federation-of-agriculture-2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
}

.home .bg_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.light_gradient_overlay {
	height: 65%;
	top: 0;
    width: 100%;
    position: absolute;
    background: linear-gradient(0deg, transparent, white 70%);
}

.hero {
	display: flex;
    align-items: center;
    height: 100vh;
}
.heroContentBox {
	background-color: $brandSage;
	max-width: 65vw;
	padding: 80px 130px;
	position: relative;
	left: -65px;
	background-image: url(../img/textures/herobox-sketch.svg);
    background-repeat: no-repeat;
    background-position: left -245px bottom -110px;
    background-size: 130%;
}
.heroContentBox h1 {
	@extend %zillaSlab;
	color: #fff;
	font-size: 45px;
	text-transform: uppercase;
	line-height: 1.35em;
	margin-bottom: 0;
}

.slick-slide img {
    width: 100%;
}

// SOCIAL MEDIA BUTTONS
.home.page .socialMedia {
	position: fixed;
	background-color: $brandSage;
	right: 0;
	padding: 10px;
	top: 50%;
	margin-top: 52.5px;
	transform: translateY(-50%);
	z-index: 999;
}
.page .socialMedia {
	position: fixed;
	background-color: $brandSage;
	right: 0;
	padding: 10px;
	top: 187px;
	margin-top: 105px;
	transform: translateY(-50%);
	z-index: 999;
}
// SOCIAL MEDIA INLINE
.home.page .socialMedia.inline, .page .socialMedia.inline {
	position: relative;
	background-color: transparent;
	right: auto;
	top: auto;
	margin-top: 0;
	transform: none;
	padding: 0;
}
.socialMedia ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.socialMedia.inline ul {
	font-size: 0;
	display: flex;
	align-items: center;
}
.socialMedia ul li {
	background-color: #fff;
	border-radius: 100%;
	border: 1px solid #fff;
	height: 30px;
	width: 30px;
	margin: 15px;
	display: flex;
    align-items: center;
	justify-content: center;
	transition: 0.25s ease-in-out;
}
.socialMedia ul li:hover {
	background-color: transparent;
	transition: 0.25s ease-in-out;
}
.home .socialMedia.inline ul li {
	background-color: #fff;
	border-color: #fff;
}
.socialMedia.inline ul li {
	background-color: $brandRed;
	border-color: $brandRed;
	margin: 0 15px 0 0;
	color: #fff;
}
.socialMedia ul li a {
	color: $brandSage;
	display: block;
	line-height: 30px;
	text-align: center;
    align-items: center;
	font-size: 18px;
	width: 30px;
	width: 30px;
}
.socialMedia.inline ul li a > i {
	color: #fff;
	transition: 0.25s ease-in-out;
}
.home .socialMedia.inline ul li a > i {
	color: #000;
}
.socialMedia.inline ul li:hover {
	color: $brandSage;
	transition: 0.25s ease-in-out;
}
body .fa,body .far,body .fas {
	font-family: fontAwesome;
}
.carouselContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}