// SINGLE POST
.single_post_content .innerContainer {
	padding: 0;
}
.single_post_content .innerContainer p a {
	color: $brandRed;
}

// LAYOUT
.row.sidebar_layout {
	margin-right: -3rem;
	margin-left: -3rem;
}
.row.sidebar_layout > .col {
	padding-left: 3rem;
	padding-right: 3rem;
}

// CLEARFIX
.clear::after {
	display: table;
	clear: both;
	content: "";
}

* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.col {
	padding-bottom: 1rem;
}

// PAGE BACKGROUND
brandSage {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
    opacity: .5;
}
.home brandSage {
	display: none;
}
brandSage svg {
	position: relative;
    bottom: -5px;
}

// PAGE WITH SIDEBAR
.page-template-page-sidebar .row .innerContainer {
	padding: 0;
}

// BODY TAG

#main-content {
	margin-top: 250px;
	margin-bottom: 4em;
}

.home #main-content {
	margin-top: 0;
}

.wrapper {
	position: relative;
    z-index: 1;
	overflow-x: hidden;
}

.innerContainer, .wp-block-columns {
	margin-right: auto;
	margin-left: auto;
	max-width: 1600px;
	padding: 0 4em;
	width: 100%;
	z-index: 2;
    position: relative;
}

.logo {
	width: 168px;
	float: left;
}

.logo img {
	max-width: 100%;
	height: auto;
	width: 100%;
	position: relative;
    left: -10px;
}

.tagline {
	text-align: center;
	padding: 40px 0 ;
	max-width: 600px;
	margin: auto;
}

.tagline h1 {
	font-family: 'justlovely_slanted_wide', sans-serif;
	font-size: 80px;
	color: #9cb9c8;
	line-height: 1em;
	margin: 0;
}

.contact {
	text-align: center;
	font-size: 18px;
}

.mobile-menu p {
	font-family: 'Open Sans', sans-serif;
}

.mobile-menu {
	background: rgba(255, 255, 255, .95);
	left: 0;
	top: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 9;
}

.social-links svg {
	color: #000;
	transition: all 0.25s ease-in-out;
}

.social-links svg {
	color: #000;
}

.social-links svg:hover {
	color: #9cb9c8;
	transition: all 0.25s ease-in-out;
}

.mobile-menu p {
	margin-bottom: 15px;
}

.social-links {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.mobile-menu .social-links {
	margin: 25px 0 0;
}

.mobile-menu .social-links li {
	margin-right: 25px;
}

.contact p {
	display: inline-block;
}

.social-links li {
	display: inline-block;
	margin-right: 15px;
}

.social-links li:last-of-type, .mobile-menu .social-links li:last-of-type {
	margin-right: 0;
}

.toggle {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;
}

.fab {
	color: #000;
}

.launching-soon-mobile {
	display: none;
}

.toggle .fa-anchor {
	transition: all 0.5s ease-in-out;
	font-size: 20px;
}

.toggle.open .fa-anchor {
	transform: rotate(180deg);
	transition: all 0.5s ease-in-out;
}

.feedContainer {
	margin-left: auto;
	margin-right: auto;
	max-width: 1080px;
	padding: 1em;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .75);
	margin-top: 50px;
}
.home footer {
	//position: absolute;
	//bottom: 0;
	//left: 0;
	background: linear-gradient(0deg, rgba(0,0,0,.75), transparent);
}
footer {
	padding: 2em 0;
	position: relative;
	background-size: cover;
	background-color: rgba(0,0,0,0.05);
	width: 100%;
	border-bottom: 10px solid $brandSage;
}
html {
	background-color: $brandSage;
}
body {
	background-color: #fff;
}
footer::before {
	position: absolute;
	top: 0;
	width: 100%;
	content: "";
	height: 1px;
	left: 0;
}
.hero::before {
	bottom: 0;
	top: auto;
}
footer p {
	font-size: 14px;
}
.page_bg_container {
	position: absolute;
	bottom: -3px;
	right: 0;
	width: 45%;
	opacity: .5;
}
.home .page_bg_container {
	display: none;
}
.home footer p {
	color: #fff;
}
footer .row .col:last-of-type {
	align-self: flex-end;
	display: flex;
    justify-content: flex-end;
}

// COLUMNS
.col_inner {
	padding: 2em;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	height: 100%;
	flex-direction: column;
}